APP_NAME=Movie Tracker API
APP_ENV=local
API_V1_PREFIX=/api/v1
FRONTEND_BASE_URL=http://localhost/movie-tracker/movie-tracker-front
CORS_ORIGINS=["http://localhost","http://127.0.0.1","http://localhost:3000","http://localhost:5173","http://127.0.0.1:5500","https://fiormaina.github.io","null"]
HOST=127.0.0.1
PORT=8000

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=movie_tracker

PASSWORD_BCRYPT_ROUNDS=12
AUTH_SECRET_KEY=change-me-in-local-env
ACCESS_TOKEN_EXPIRE_MINUTES=1440

